.container{
    padding: 10px;
    background-image: none;
}

.content{
    margin-top: 10px;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 10px;
    row-gap: 20px;
}

.card{
    background-color: white;
    width: 450px;
    height: 260px;
    padding: 40px 20px;
    text-align: left;
    border-radius: 10px;
    box-shadow: 10px 10px 8px 10px #888888;
}

.buttons{
    display: flex;
    justify-content: space-between;
}