*{
    font-family: 'Poppins', Courier, monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #053368;
}

header nav {
    width: 100%;
    padding: 10px 60px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

header nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

header nav ul li a{
    text-decoration: none;
    color:white; 
}

header nav ul li a:hover{
    opacity: 0.4;
    transition: 0.3s;
}

.login a{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: white;
    border-radius: 10px;
    color: black;
    padding: 10px 30px;
}

.login a:hover{
    background-color: black;
    color: white;
    opacity: 0.4;
    transition: 0.3s;    
}

.container{
    background-image: url("https://sm.ign.com/ign_br/review/c/crash-band/crash-bandicoot-n-sane-trilogy-review_f6u4.jpg");
    height: 100vh;
    background-size: cover;
}